body{
  background: #abdae0;
  border-radius: 50px;
}
.section1{
  border: 5px solid red;
  padding-bottom: 50px;


}
.section1 .elements{
  margin: auto;
  text-align: center;

  width: 80%;

}
h2{
  font-size: 40px;
}
p{
  margin-top:0px;
  font-size: 20px;
}
.section1 .grids{
  margin: auto;
  width: 40%;

}
td{

  height: 90px;
  width: 90px;
  text-align: center;
  border: 5px solid black;
  font-size: 80px;
}
.section1 .btn{
  margin-top:10px;
  color: white;
  text-align: center;

}
#btn1{
  margin: auto;
  font-size:50px;
  background-color:#95c758;
  border-radius: 8px;
}
#btn2{
  margin-left: 100px;
  font-size:50px;
  background-color: #c78158;
  border-radius: 8px;
}
#restart{
  display: flex;
  margin: auto;
  font-size:40px;
  background-color:#abeb34;
  border-radius: 8px;
}
